<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <p>Name: <%= @inquiry.name %></p>
    <p>Email: <%= @inquiry.email %></p>
    <p>Message: <%= @inquiry.message %></p>
  </body>
</html>
