<div class="top-wrapper">

    <img src = "/ロゴ＋文字1列.png">
    <div class="btn-wrapper">
      <div class="btn signup"><a><%= link_to("新規登録", "/users/signup") %></a></div>
      <a href="https://www.facebook.com/CrossOverAirline/" class="btn facebook"><span class="fa fa-facebook"></span>Facebook</a>
      <a href="" class="btn twitter">Podcast</a>
      <a href="https://www.facebook.com/pg/CrossOverAirline/events/?ref=page_internal" class="btn ivent">イベント情報</a>
    </div>
</div>
