.message {

  position: relative;
  top:150px;left:100px;
  float: left;
}

.message img{
  height: 300px;width: 450px;
}

.message p{
  color: white;
  text-align: center;
  padding: 0px 0px;

}

.message h2{
  color: white;
  text-align: center;
}

.message-name{
  background-color: rgba(1, 1, 1, 0.5)
}
