.service img{
width:25%;
}

.service{
  padding: 100px 0 200px 0;
  text-align: center;}

  .service h2{
    position: relative;
    bottom: 120px;
  }

  .service h3{
    color: rgba(255, 255, 255,0.4);

  }

    .service h1{
      color: rgba(255, 255, 255, 0.7);
    }
